/************** Navbar **************/
.navbar-brand {
    color: #009970;
    transition: 0.3s color;
}

.navbar-icon {
    /* background-color: #009970; */
    color: #595c5f;
    font-size: 20px;
    padding: 4px 12px;
    margin: 0px;
    text-decoration: none;
    transition: 0.3s background-color;

}

.navbar-toggler-icon {
    height: 32px;
}

.login-button:hover {
    background-color: #00b383;
    color: white;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: #000;
}

@media(min-width: 992px) {

    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2.5px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.25s ease-in-out;

    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

.navbar {
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}


.brand-name {
    font-weight: 900;
    font-size: 35px;
}

.offcanvas {
    background-color: #31572c13;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

/************** End Navbar **************/

/************ Landing Section ************/
.home-section {
    background: url(../images/bg.svg) #ffffff26;
    background-blend-mode: multiply;
    background-size: cover;
    width: 100%;
    height: auto;
}

.block {
    height: 150px;
    /* background-color: red; */
}

.landing h1 {
    color: #ffffff;
    font-size: 80px;
}

.landing p {
    color: #ffffff;
}

.main-card {
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border-radius: 25px;
    border: white solid 2px;

    box-sizing: border-box;

    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 9px 18.4px rgba(0, 0, 0, 0.267);

}

.plant-card {
    width: 400px;
    height: 600px;
    /* margin-top: 100px; */
}

.carousel-item .image-container {
    text-align: center;
    height: 250px;
}

.carousel-item .image-container img {
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    filter: drop-shadow(2px 4px 6px black);
}

.content {
    padding: 20px;
    margin: 0px 30px;
}

.plant-name {
    color: white;
    margin: 0 0 10px;
}

.price {
    color: white;
    font-size: 1.5em;
    font-weight: 600;
}

.description {
    color: white;
    margin: 0 0 20px;
}

.main-button {
    background-color: #ffffff00;
    color: white;
    border: none;
    margin-right: 20px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    border-color: #595c5f;
    border-style: solid;
    cursor: pointer;
    transition: background-color 0.3s;
}

.main-button:hover {
    background-color: #ffffff4f;
}

.profile-info {
    width: 40%;
    margin: 20px;
}

.profile {
    display: flex;

    justify-content: start;
    align-items: center;
}

.profile-card {
    padding: 20px;
    width: 360px;
    margin-top: 40px;
}

.profile-info h5,
.profile-card p {
    margin: 0px;
    color: white;
}

@media(max-width: 992px) {
    .landing {
        text-align: center;
    }

    .profile-card {
        width: 400px;
    }
}

/************** Trend Section **************/

.trendy {
    margin-top: 70px;
}



.trend-card {
    display: flex;
    margin: 100px 0px;
    width: auto;
    height: 400px;
    border-radius: 150px;
    text-align: end;
    align-items: center;
}

.section-label {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 100px;
    padding: 20px;
    position: relative;
    background-color: #6667773a;
    border-radius: 30px;
    backdrop-filter: blur(12px);
}


.section-title {
    width: fit-content;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;


    color: #FFFFFF;

    text-shadow: 0px 100px 80px rgba(0, 0, 0, 0.36), 0px 50.0488px 40.0391px rgba(0, 0, 0, 0.27372), 0px 30.1471px 24.1177px rgba(0, 0, 0, 0.234572), 0px 19.3198px 15.4559px rgba(0, 0, 0, 0.205522), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.18), 0px 7.88218px 6.30574px rgba(0, 0, 0, 0.154478), 0px 4.5288px 3.62304px rgba(0, 0, 0, 0.125428), 0px 1.99324px 1.59459px rgba(0, 0, 0, 0.0862802);
}


.trend-card .content {
    text-align: left;
    height: auto;

}


.trend-card .image-container {
    position: relative;
    height: auto;
    top: -100px;
}

.trend-card .image-container img {
    width: 430px;
    height: 430px;
    filter: drop-shadow(2px 4px 6px black);
}

.icon-button {
    padding: 10px 20px
}

@media(max-width: 992px) {
    .trend-card .image-container {

        top: -40px;
    }

    .trend-card .image-container img {
        width: 300px;
    }

    .trend-card .content {
        /* text-align: center; */
    }
}

@media(max-width: 768px) {
    .trend-card .image-container {
        top: -190px;
        text-align: center;
        height: 100px;
    }

    .trend-card .image-container img {
        width: 250px;
    }

    .trend-card .content {
        text-align: center;
    }
}



/************ End Landing Section ************/



/************ Top Selling Section ************/
.top-selling {
    background-color: #171f12;
    background-size: cover;
    height: auto;
    overflow: hidden;
}

.top-selling-card {
    width: 280px;
    height: 370px;
    text-align: center;
    background: rgba(255, 255, 255, 0.05);
}

.top-selling-card .image-container {
    position: relative;
    height: 180px;
    top: -62px;

    display: flex;
    justify-content: center;
}

.top-selling-card .image-container img {
    filter: drop-shadow(2px 4px 6px black);
    width: 270px;
    height: 270px;
}

.top-selling-card .content {
    text-align: left;
    width: auto;
    margin: 10px;
}

.top-selling-card .content .plant-name {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.75);
}

.top-selling-card .content .description {
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.75);
}

.top-selling-card {
    margin-top: 40px;
    border-radius: 60px;
}

.top-selling-card .content .sell {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-selling-card .content .sell .price {
    width: auto;

    font-style: normal;
    font-weight: 400;

    color: rgba(255, 255, 255, 0.75);
}

.top-selling-card .content .sell .icon-button {
    margin: 0px;
    padding: 7px 12px;
}

@media (max-width:992px) {



    .top-selling-card {
        width: 200px;
        height: 260px;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 25px;
        border-radius: 30px;
    }

    .top-selling-card .image-container {
        height: 150px;
    }

    .top-selling-card .image-container img {
        width: 200px;
        height: 200px;
    }

    .top-selling-card .content {
        padding: 0px;
        margin: 0px;
    }

    .top-selling-card .content .plant-name {
        font-size: 24px;
    }

    .top-selling-card .content .description {
        position: absolute;
        visibility: hidden;
    }

    .top-selling-card {}

    .top-selling-card .content .sell {}

    .top-selling-card .content .sell .price {
        font-size: 20px;
    }

    .top-selling-card .content .sell .icon-button {}
}
